<nav class="navbar navbar-expand-lg navbar-light sticky-top rb-navbar__top">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">
    <img src="{{ "/assets/images/logo-text-white.png" | relative_url }}" height="30" width="auto" alt=""></img>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto display-xs">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages %}
      {% if page.title and page.order >= 0 %}
      <li class="nav-item">
        <a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
      </li>
      {% endif %}
      {% endfor %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="languagesNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="half-opacity" src="{{ "/assets/images/icons/translate-white-24dp.svg" | relative_url }}" alt="change language" height="24" width="24"/>
        </a>
        <div class="dropdown-menu" aria-labelledby="languagesNavbarDropdown">
          {% for tongue in site.languages %}
          <a class="dropdown-item{% if tongue == site.active_lang %} disabled{% endif %}" href="{% if tongue == site.default_lang %}{{ site.baseurl }}{{ page.url }}{% else %}{{ site.baseurl }}/{{ tongue }}{{ page.url }}{% endif %}">{{ site.data.languagenames[tongue] }}</a>
          {% endfor %}
        </div>
      </li>

    </ul>

  </div>

  <ul class="navbar-nav display-md">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="half-opacity" src="{{ "/assets/images/icons/translate-white-24dp.svg" | relative_url }}" alt="change language" height="24" width="24"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        {% for tongue in site.languages %}
        <a class="dropdown-item{% if tongue == site.active_lang %} disabled{% endif %}" href="{% if tongue == site.default_lang %}{{ site.baseurl }}{{ page.url }}{% else %}{{ site.baseurl }}/{{ tongue }}{{ page.url }}{% endif %}">{{ site.data.languagenames[tongue] }}</a>
        {% endfor %}
      </div>
    </li>
  </ul>

</nav>
